<!--<app-ejemplo1></app-ejemplo1>-->
<h2> Taller 4-Franklin Villota</h2>
<p class="p1"> Primer parrafo</p>
<p class="p2"> Segundo parrafo</p>
<ul>
    <li><a href="https://es.wikipedia.org/wiki/Cristiano_Ronaldo">Biografía Cristiano Cristiano_Ronaldo</a></li>
    <li><a href="https://fifpro.org/es/apoyar-a-los-y-las-futbolistas/influencia-del-jugador/world11/messi-la-leyenda-que-busca-en-el-world-11-un-nuevo-record">Biografía Messi</a></li>
    <li><a href="https://es.wikipedia.org/wiki/Dayro_Moreno">Biografía Dayro Moreno</a></li>
</ul>

<table>
    <tr>
        <th> Productos</th>
        <th> Existencias</th>
        <th> Valor</th>
    </tr>
    <tr>
        <td>Iphone</td>
        <td>10</td>
        <td>$ 2.000.000</td>
    </tr>
    <tr>
        <td>Mouse</td>
        <td>100</td>
        <td>$ 50.000</td>
    </tr>
    <tr>
        <td>PC Gamer</td>
        <td>2</td>
        <td>$ 3.000.000</td>
    </tr>
</table>

<!-- HEADER -->
<app-header></app-header>

<div class="main-container">
  <app-sidebar></app-sidebar>

  <div class="content-wrapper">
    <app-contenedor></app-contenedor>
    <app-content></app-content>
  </div>
</div>


<!-- FOOTER -->
<app-footer></app-footer>


<router-outlet />
