.page-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.form-card {
    background: rgb(242, 255, 238);
    width: 720px;
    max-width: 950px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    border: 2px solid #b7d8b7;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.grid-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.form-field p {
    margin-bottom: 6px;
    font-weight: bold;
}

.error {
    color: rgb(206, 56, 56);
    font-size: 0.85rem;
    margin-top: 4px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.submit-btn {
    width: 200px;
}

@media (max-width: 820px) {
    .grid-form {
        grid-template-columns: 1fr;
    }
}

.back-btn {
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #2b4b2b;
    width: fit-content;
    transition: 0.2s;
}

.back-btn:hover {
    transform: scale(1.1);
    color: #1b331b;
}

