<div class="page-container">
    <div class="card form-card">
        
        <div class="back-btn" (click)="volver()">
        <i class="pi pi-arrow-left"></i>
        </div>

        <h1 class="title">Agregar Productos</h1>

        <form [formGroup]="form1">
            
            <div class="grid-form">

                <!-- Nombre Comercial -->
                <div class="form-field">
                    <p>Nombre Comercial</p>
                    <div class="p-input-icon-left w-full">
                        <i class="pi pi-check-square"></i>
                        <input id="comercialname" type="text" pInputText class="w-full"
                            placeholder="Nombre Comercial" formControlName="comercialname">
                    </div>
                    <div *ngIf="form1.controls['comercialname'].invalid && form1.controls['comercialname'].touched"
                        class="error">El nombre es requerido</div>
                </div>

                <!-- Nombre Genérico -->
                <div class="form-field">
                    <p>Nombre Genérico</p>
                    <div class="p-input-icon-left w-full">
                        <i class="pi pi-check-square"></i>
                        <input id="genericname" type="text" pInputText class="w-full"
                            placeholder="Nombre Genérico" formControlName="genericname">
                    </div>
                    <div *ngIf="form1.controls['genericname'].invalid && form1.controls['genericname'].touched"
                        class="error">El nombre es requerido</div>
                </div>

                <!-- Cantidad -->
                <div class="form-field">
                    <p>Cantidad</p>
                    <div class="p-input-icon-left w-full">
                        <i class="pi pi-bars"></i>
                        <input type="number" pInputText class="w-full"
                            placeholder="Cantidad" formControlName="quantity">
                    </div>
                    <div *ngIf="form1.controls['quantity'].invalid && form1.controls['quantity'].touched"
                        class="error">Debe ingresar una cantidad</div>
                </div>

                <!-- Lote -->
                <div class="form-field">
                    <p>Lote</p>
                    <div class="p-input-icon-left w-full">
                        <i class="pi pi-building-columns"></i>
                        <input id="lote" type="text" pInputText class="w-full"
                            placeholder="Lote" formControlName="lote">
                    </div>
                    <div *ngIf="form1.controls['lote'].invalid && form1.controls['lote'].touched"
                        class="error">Debe ingresar un lote</div>
                </div>

                <!-- Precio -->
                <div class="form-field">
                    <p>Precio</p>
                    <div class="p-input-icon-left w-full">
                        <i class="pi pi-dollar"></i>
                        <input id="price" type="number" pInputText class="w-full"
                            placeholder="Precio" formControlName="price">
                    </div>
                    <div *ngIf="form1.controls['price'].invalid && form1.controls['price'].touched"
                        class="error">El precio es requerido</div>
                </div>

                <!-- Descripción -->
                <div class="form-field">
                    <p>Descripción</p>
                    <div class="p-input-icon-left w-full">
                        <i class="pi pi-book"></i>
                        <input id="description" type="text" pInputText class="w-full"
                            placeholder="Descripción" formControlName="description">
                    </div>
                    <div *ngIf="form1.controls['description'].invalid && form1.controls['description'].touched"
                        class="error">Debe ingresar una descripción</div>
                </div>

                <!-- Forma Farmacéutica -->
                <div class="form-field">
                    <p>Forma Farmacéutica</p>
                    <div class="p-input-icon-left w-full">
                        <i class="pi pi-ethereum"></i>
                        <input type="text" pInputText class="w-full"
                            placeholder="Forma Farmacéutica" formControlName="pharmaceuticform">
                    </div>
                    <div *ngIf="form1.controls['pharmaceuticform'].invalid && form1.controls['pharmaceuticform'].touched"
                        class="error">Debe ingresar la forma farmacéutica</div>
                </div>

                <!-- CUM -->
                <div class="form-field">
                    <p>Cum</p>
                    <div class="p-input-icon-left w-full">
                        <i class="pi pi-barcode"></i>
                        <input id="cum" type="tel" pInputText class="w-full"
                            placeholder="CUM" formControlName="cum">
                    </div>
                    <div *ngIf="form1.controls['cum'].invalid && form1.controls['cum'].touched"
                        class="error">El número debe tener 10 dígitos</div>
                </div>

                <!-- Fecha -->
                <div class="form-field">
                    <p>Fecha de Caducidad</p>
                    <p-calendar id="finaldate" [style]="{'width': '100%'}"
                        formControlName="finaldate"
                        showIcon="true" icon="pi pi-calendar" iconPos="left">
                    </p-calendar>
                    <div *ngIf="form1.controls['finaldate'].invalid && form1.controls['finaldate'].touched"
                        class="error">La fecha es requerida</div>
                </div>

            </div>

            <div class="btn-container">
                <button pButton type="submit" label="Agregar"
                    class="btn_dark submit-btn" (click)="onSubmit()"></button>
            </div>

        </form>
    </div>
</div>
