<div class="filter-users-container">

    <button 
        pButton 
        class="p-button-rounded p-button-text back-btn" 
        icon="pi pi-arrow-left"
        (click)="goBack()">
    </button>

    <div class="search-class">

        <!-- Buscar por ID -->
        <div class="search-box flex flex-column justify-content-center align-items-center">
            <h1 class="search-title">Buscar por ID</h1>

            <img 
                src="https://cdn-icons-png.flaticon.com/512/679/679720.png"
                class="search-image"
                alt="Buscar por ID"
            />

            <input 
                pInputText
                type="number"
                placeholder="Ingresa el ID del producto"
                [(ngModel)]="productId"
                class="input-search"
            />

            <button pButton 
                type="button"
                label="Buscar"
                class="btn_dark mt-2"
                (click)="searchProductById()"
            ></button>

            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        </div>

        <!-- Buscar por nombre -->
        <div class="search-box flex flex-column justify-content-center align-items-center">
            <h1 class="search-title">Buscar por nombre</h1>

            <img 
                src="https://cdn-icons-png.flaticon.com/512/751/751463.png"
                class="search-image"
                alt="Buscar por nombre"
            />

            <input 
                pInputText
                type="text"
                placeholder="Ingresa palabra clave"
                [(ngModel)]="productName"
                class="input-search"
            />

            <button pButton 
                type="button"
                label="Buscar"
                class="btn_dark mt-2"
                (click)="searchProductByName()"
            ></button>

            <p *ngIf="errorMessageName" class="error-message">{{ errorMessageName }}</p>
        </div>

    </div>


    <p-table
        *ngIf="products.length"
        [value]="products" 
        [paginator]="true" 
        [rows]="3" 
        [tableStyle]="{ 'min-width': '50rem', 'max-width': '1200px'}" 
        styleClass="table_products"
    >
      <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nombre Comercial</th>
            <th>Nombre Generico</th>
            <th>Cantidad</th>
            <th>Lote</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Forma Farmaceutica</th>
            <th>Cum</th>
            <th>Fecha de vencimiento</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.comercialName }}</td>
            <td>{{ product.genericName }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.lote }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.pharmaceuticForm }}</td>
            <td>{{ product.cum }}</td>
            <td>{{ product.finalDate | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </ng-template>
    </p-table>
</div>
